body{
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.133),rgba(255, 0, 0, 0.71), rgba(119, 119, 117, 0.43)), url(imgs/pexels-engin-akyurt-2673353.jpg);
    background-size: cover;
    animation: transitionIn 0.75s;
         
       
}

.container-fluid{
    width: 50%;
    background: rgba(85, 0, 0, 0.59);
    border: 1px solid beige;
}


  @keyframes transitionIn{
    from{
        opacity: 0;
        /* transform: rotateX(-10px); */
    }

    to{
        opacity: 1;
        /* transform: rotateX(0); */
    }
  }


h1{
    font-family: 'Arizonia', cursive;
    font-size: 70px;
    text-shadow: 2px 2px 3px rgb(255, 0, 0);
    color: beige;
}



h2{
    font-family: 'Arizonia', cursive;
    font-size: 40px;
    color: beige;
    cursor: pointer;
    text-shadow: 1px 1px 2px red;
}

h3, h4{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: beige;
    cursor: pointer;
    text-shadow: 1px 1px 2px red;
}

.wings{
    margin-top: 35px;
}


.logo1{
    width: 45%;
   
    
}

.nav-item a{
    margin-top: 0px;   
    
}


#mainNavbar{
    font-size: 1.5rem;
    font-weight: 300;   
    
}

#mainNavbar .nav-link{
    color: beige;
    margin-right: 120px;
    margin-left: 100px;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 1px 3px rgb(255, 0, 0);
    
}

#mainNavbar .nav-link:hover{
    color: #ea1c2c;
    text-shadow: 1px 1px 1px beige;
}


#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-size: 1.5rem;
    
}



#headingGroup h1{
    font-weight: 700;
    font-size: 10vw;
    font-family: sans;
    color: red;
}



.navbar.scrolled{
    background: rgba(245, 245, 220, 0.536);
    transition: background 1s;
    
}

.menu{
    width: 100%;
    margin-top: 100px;
    border-bottom: 1px solid beige;
}

.navBtn{
    margin-left: 100px;
    box-shadow: 0px 1px 2px rgb(255, 255, 255);
}





footer {
    /* margin-top: 55px; */
    text-align: center;
    
    background-color: #f5f5dc;
    color: red;
    padding: 10px;
  }

 

  



@media(max-width: 1200px){
    h1{
        font-weight: 100;
        font-size: 3rem;
    }
}





